/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/studio.h> 

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define ADJUST  3

/ {
    behaviors {
        tpmt: tpmt {
            compatible = "zmk,behavior-hold-tap";
            label = "TPMT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            require-prior-idle-ms = <125>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB  |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | BKSP  |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHIFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | RSHFT|
            // | LCTRL | GUI | ALT | SPC | ENT | LOW | MO2 | MO1 | SPC | DEL | LFT | DWN | UP | RGT |
            bindings = <
&kp TAB        &kp Q          &kp W             &kp E             &kp R           &kp T              &kp Y           &kp U                &kp I         &kp O             &kp P                    &kp BACKSPACE
&kp BACKSPACE  &tpmt LCTRL A  &tpmt LEFT_ALT S  &tpmt LEFT_GUI D  &tpmt LSHIFT F  &kp G              &kp H           &tpmt RIGHT_SHIFT J  &tpmt RGUI K  &tpmt RIGHT_ALT L &tpmt RIGHT_CONTROL SEMI &kp SQT
&kp LSHFT      &kp Z          &kp X             &kp C             &kp V           &kp B              &kp N           &kp M                &kp COMMA     &kp PERIOD        &kp SLASH                &kp RSHFT
&kp LCTRL      &kp LEFT_META  &kp LALT          &kp SPACE         &kp ENTER       &mo LOWER  &mo 2   &mo 1           &kp SPACE            &kp DEL       &kp LEFT          &kp DOWN                 &kp UP        &kp RIGHT
            >;
            label = "DEFAULT";
        };

        lower_layer {
            
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
            label = "NAV";
        };

        raise_layer {
           
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
            label = "NUM";
        };

        adjust_layer {
            
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
            label = "SYS";
        };

        extra1 { status = "reserved"; };
        extra2 { status = "reserved"; };
        extra3 { status = "reserved"; };
        extra4 { status = "reserved"; };
    };
};